absl-py==0.1.13
alabaster==0.7.10
alembic==0.9.8
aniso8601==2.0.1
APScheduler==3.5.0
asn1crypto==0.22.0
astor==0.6.2
astroid==1.6.1
attrs==17.4.0
autopep8==1.3.3
awscli==1.15.7
Babel==2.5.3
backcall==0.1.0
backports.weakref==1.0rc1
bcolz==1.2.1
beautifulsoup4==4.6.0
bleach==2.1.3
boto==2.48.0
boto3==1.5.3
botocore==1.10.7
bz2file==0.98
certifi==2018.4.16
cffi==1.11.2
chardet==3.0.4
click==6.7
cliff==2.8.1
cmd2==0.8.5
colorama==0.3.7
configparser==3.5.0
coverage==3.7.1
cryptography==2.0.3
cssselect==1.0.3
cycler==0.10.0
decorator==4.3.0
DeepVideoAnalyticsClient==1.0
dill==0.2.7.1
docutils==0.14
easydict==1.7
elasticsearch==5.4.0
entrypoints==0.2.3
enum34==1.1.6
fastai==0.6
fastcache==1.0.2
feather-format==0.4.0
feedparser==5.2.1
Flask==0.12.2
Flask-APScheduler==1.7.1
flask-marshmallow==0.8.0
Flask-Migrate==2.1.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
gast==0.2.0
gensim==3.2.0
gmpy2==2.0.8
graphviz==0.8.2
grpcio==1.10.1
guzzle-sphinx-theme==0.7.11
h5py==2.7.0
html5lib==1.0.1
idna==2.6
imagesize==1.0.0
imutils==0.4.5
ipdb==0.11
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
ipywidgets==7.2.1
isort==4.3.4
isoweek==1.3.3
itsdangerous==0.24
jedi==0.12.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyterlab==0.31.8
jupyterlab-launcher==0.10.5
kaggle-cli==0.12.13
Keras==2.1.3
keras-tqdm==2.0.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lmdb==0.93
lxml==4.2.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
marshmallow==3.0.0b5
marshmallow-sqlalchemy==0.13.2
matplotlib==2.2.2
mccabe==0.6.1
MechanicalSoup==0.8.0
mistune==0.8.3
mizani==0.4.6
mpipe==1.0.8
mpmath==1.0.0
multiprocess==0.70.5
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.5
nose==1.3.4
notebook==5.4.1
numpy==1.14.2
olefile==0.45.1
opencv-python==3.4.0.12
palettable==3.1.0
pandas==0.22.0
pandas-summary==0.0.41
pandocfilters==1.4.2
parso==0.2.0
pathos==0.2.1
patsy==0.5.0
pbr==4.0.2
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
plotnine==0.3.0
pluggy==0.6.0
pox==0.2.3
ppft==1.6.4.7.1
prettytable==0.7.2
progressbar2==3.34.3
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptest==1.8.1
ptyprocess==0.5.2
py==1.5.2
pyarrow==0.9.0
pyasn1==0.4.2
pycodestyle==2.3.1
pycparser==2.18
pydot==1.2.3
Pygments==2.2.0
pygraphviz==1.3
pylint==1.8.2
pynvrtc==8.0
pyOpenSSL==17.2.0
pyparsing==2.2.0
pyperclip==1.6.0
PySocks==1.6.7
pytest==3.0.2
pytest-cov==2.3.1
pytest-ordering==0.5
python-dateutil==2.7.2
python-editor==1.0.3
python-utils==2.3.0
PyTorch-QRNN==0.2.1
pytz==2018.4
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.18.4
rope==0.10.7
rsa==3.4.2
s3transfer==0.1.13
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.1
seaborn==0.8.1
Send2Trash==1.5.0
Shapely==1.6.2
simplegeneric==0.8.1
six==1.11.0
sklearn-pandas==1.6.0
smart-open==1.5.5
snowballstemmer==1.2.1
Sphinx==1.4.9
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-httpdomain==1.6.0
SQLAlchemy==1.2.0
statsmodels==0.8.0
stevedore==1.28.0
sympy==1.1.1
tb-nightly==1.5.0a20180125
tensorboard==1.7.0
tensorboardX==1.1
tensorflow==1.5.0
tensorflow-tensorboard==1.5.1
tensorlayer==1.7.3
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tf-nightly-gpu==1.6.0.dev20180125
toposort==1.5
torch==0.4.0a0+d0cabbd
torchtext==0.2.3
torchvision==0.2.0
tornado==5.0.2
tqdm==4.23.0
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
wrapt==1.10.11
xgboost==0.7.post3
yapf==0.20.2
